*{
    /* outline: red dotted 1px; */
}





:root {
    --color-1: #D64045;
    --color-2: #E9FFF9;
    --color-3: #9ED8DB;
    --color-4: #467599;
    --color-5: #1D3354;
}


header {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding: 5px;
    font-size: xx-large;
}

    header > div {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        object-fit: scale-down;
    }

    .icon {
        max-width: 60px;
    }

    .icon > img {
        width: 100%
    }

    .tri1, .tri2, .tri3, .tri4, .tri5 {
        position: absolute;
        top: 0px;
        left: 0px;
    }

        .tri1 {
            z-index: 0;
            border-top: 5vh solid var(--color-1);
            border-right: 5vh solid transparent;
        }
        .tri2 {
            z-index: -1;
            border-top: 10vh solid var(--color-2);
            border-right: 10vh solid transparent;
        }
        .tri3 {
            z-index: -2;
            border-top: 15vh solid var(--color-3);
            border-right: 15vh solid transparent;
        }
        .tri4 {
            z-index: -3;
            border-top: 20vh solid var(--color-4);
            border-right: 20vh solid transparent;
        }
        .tri5 {
            z-index: -4;
            border-top: 25vh solid var(--color-5);
            border-right: 25vh solid transparent;
        }


.about {
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0px 10px;
}

.about h3 {
    text-align:left;
    font-size:40px;
    margin-bottom:15px;
}

.about > p {
    text-align: justify;
}


.emphasis {
    font-weight:bold;
    font-style: italic;
}

.skills {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0px 10px;
}